*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(35, 78, 65);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;

}

.text
        {
            width: 100%;
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-weight: 800;
            font-size: 3rem;
            color: rgb(107, 243, 29);
            animation: text1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
        }
        @keyframes text1 
        {
            0%
            {
                transform: translateY(0);
                transform-origin: 50% 50%;
                text-shadow: none;
            }
            100%
            {
                transform: translateY(-30px);
                transform-origin: 50% 50%;
                text-shadow: 0 1px 0  rgb(179, 212, 141),
                0 2px 0 rgb(155, 187, 118),
                0 3px 0 rgb(191, 212, 166),
                0 4px 0  rgb(207, 236, 174),
                0 5px 0  rgb(217, 245, 186),
                0 6px 0  rgb(164, 192, 132),
                0 7px 0  rgb(205, 230, 176),
                0 8px 0  rgb(198, 226, 166),
                0 9px 0  rgb(180, 209, 147), 0 50px 30px rgba(0, 0,0,0.3);
            }
        }
.log{
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
}
.button{

    text-decoration: none;
    height: auto;
    width: auto;
    padding: 10px 40px;
    border-radius: 7px;
    background-color:#006666;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    transition-duration: 1s;
    box-shadow: 2px 2px 5px black,-2px -2px 5px black;
    
}

