*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all1
{
    padding-top: 30px;
    text-align: center;
    background-color: rgb(35, 78, 65);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    
}
.cardb
{
    margin-top: 50px;
    height: auto;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;

}
